
@import url("style/style-lang.css");

p:has(img) {
  display:flex;
  gap: 0.5rem;
  overflow: hidden;
}

p:has(img) img {
  flex: 0 1 auto;
  min-width: 0;
  aspect-ratio: auto;
  overflow: hidden;
}

p:has(img) > br {
   display:none;
}
