
@font-face {
  font-family: "iAWriterSongtiSC";
  font-weight: 400;
  font-style: normal;
  src: local("STSongti-SC-Regular"), local("Songti TC Regular");
}

@font-face {
  font-family: "iAWriterSongtiSC";
  font-weight: 700;
  font-style: normal;
  src: local("STSongti-SC-Bold"), local("Songti TC Bold");
}
