
@font-face {
  font-family: "iAWriterPingFangSC";
  font-weight: 400;
  font-style: normal;
  src: local("PingFangSC-Regular"), local("PingFang SC Regular");
}

@font-face {
  font-family: "iAWriterPingFangSC";
  font-weight: 700;
  font-style: normal;
  src: local("PingFangSC-Bold"), local("PingFang SC Bold");
}
